.clinician-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    width: 800px;
    margin: 0 auto;
  }
  
  .clinician-detail__info {
    flex: 1;
  }
  
  .clinician-detail__name {
    font-size: 2rem;
    color: #5A0001;
  }
  
  .clinician-detail__contact,
  .clinician-detail__location,
  .clinician-detail__website {
    font-size: 1rem;
    margin: 10px 0;
  }
  
  .clinician-detail__image-container {
    flex: 0 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .clinician-detail__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #B22222;
    object-fit: cover;
  }

 

  
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .clinician-detail {
      flex-direction: column;
      width: 100%;
      height: auto;
      padding: 15px;
    }
  
    .clinician-detail__image-container {
      margin-bottom: 15px; /* Add some spacing between image and info */
      flex: 0 0 auto; /* Allow the container to resize */
    }
  
    .clinician-detail__image {
      width: 120px;
      height: 120px; /* Resize image for smaller screens */
    }
  
    .clinician-detail__name {
      font-size: 1.8rem; /* Slightly reduce font size */
    }
  
    .clinician-detail__contact,
    .clinician-detail__location,
    .clinician-detail__website {
      font-size: 0.9rem; /* Adjust font size for readability on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .clinician-detail {
      padding: 10px;
    }
  
    .clinician-detail__name {
      font-size: 1.5rem; /* Reduce title font size further for small screens */
    }
  
    .clinician-detail__image {
      width: 100px;
      height: 100px; /* Further reduce image size for very small screens */
    }
  
    .clinician-detail__contact,
    .clinician-detail__location,
    .clinician-detail__website {
      font-size: 0.8rem; /* Adjust font size further */
    }
  }
  
  .clinician-detail__description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.2;
    color: #333;
  }

  